<!DOCTYPE html>
<html lang="en">
<head>
  <style type="text/css">
    body, html {
      margin: 0;
      padding: 0;
    }
    body {
      background-image: url('/static/images/dancing_guy.gif');
      background-color: #000;
    }
    p {
      font-size: 2em;
      color: #fff;
      font-family: Georgia serif;
      margin-top: 0.5em;
      margin-left: 0.5em;
    }
  </style>
</head>
<body>
  {{{body}}} 
</body>
</html>
