<!DOCTYPE html>
<html lang="en">
<head>
  <script type="text/javascript" src="js/jquery-1.7.1.js"></script>
  <script type="text/javascript" src="js/underscore.js"></script>
  <script type="text/javascript" src="js/backbone.js"></script>
  <!--<script type="text/javascript" src="http://cdn.socket.io/stable/socket.io.js"></script>-->
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="http://staging.tokbox.com/v0.91/js/TB.min.js"></script>
  <style type="text/css">
    body, html {
      margin: 0;
      padding: 0;
    }
    body {
      background-image: url('/static/images/dancing_guy.gif');
      background-color: #000;
    }
    p {
      font-size: 2em;
      color: #fff;
      font-family: Georgia serif;
      margin-top: 0.5em;
      margin-left: 0.5em;
    }
  </style>
</head>
<body>
  {{{body}}} 
</body>
</script>
</html>
